/* Defaults */
html {
    font-family: Helvetica, sans-serif;
    color: darkslategray;
    letter-spacing: 0.4px;
}
p {
    line-height: 20px;
}

/* Header */
/* Mobile */
@media all and (min-width: 0px) and (max-width: 812px) {
    header .desktop {
        display: none;
    }
    header {
        height: 64px;
    }
    header .logo {
        padding-top: 15px;
        margin-left: 24px;
        margin-right: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
/* Desktop */
@media all and (min-width: 813px) {
    header .mobile {
        display: none;
    }
    header {
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .logo {
        padding-left: 24px;
        display: flex;
        align-items: center;
    }
    header .logo .logo-text {
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    header .logo .logo-text .light {
        color: grey;
    }
    header .nav-links {
        padding-right: 24px;
    }
    header .nav-links ul li {
        padding-left: 16px;
        display: inline-block;
    }
    header .nav-links ul li a {
        color: darkslategray;
        text-decoration: none;
    }
}

/* Start Here Section */
/* Mobile */
@media all and (min-width: 0px) and (max-width: 812px) {
    main .sign-up {
        background-color: lightgray;
        width: 100%;
    }
    main .sign-up .image img {
        max-width: 100%;
    }
    main .sign-up .text {
        text-align: center;
        color: darkslategray;
        width: 90%;
        margin: 0 auto;
    }
    main .sign-up .text h1 {
        margin-bottom: 32px;
    }
    main .sign-up .text button {
        text-align: center;
        background-color: darkslategrey;
        color: white;
        width: 90%;
        height: 40px;
        padding: 8px 0;
        margin-top: 24px;
        margin-bottom: 32px;
    }
}
/* Desktop */
@media all and (min-width: 813px) {
    main .sign-up {
        background-color: lightgray;
        width: 100%;
        display: flex;
    }
    main .sign-up .image {
        max-width: 60%;
    }
    main .sign-up .image img {
        max-width: 90%;
        margin: 32px 24px;
    }
    main .sign-up .text {
        color: darkslategrey;
        width: 30%;
        margin: auto 0;
    }
    main .sign-up .text h1 {
        margin-bottom: 32px;
    }
    main .sign-up .text button {
        background-color: darkslategrey;
        color: white;
        width: 250px;
        height: 40px;
        padding: 8px 0;
        margin-top: 24px;
        margin-bottom: 32px;
    }
}

/* More Info */
/* Mobile */
@media all and (min-width: 0px) and (max-width: 812px) {
    main .info {
        width: 100%;
        padding: 16px 16px;
        border-bottom: 1px solid lightgrey;
    }
    main .info .quote {
        display: none;
    }
    main .info .more-info .container {
        width: 95%;
        margin: 0 auto;
    }
    main .info .more-info .container .picture img.mobile {
        max-width: 90%;
        height: auto;
    }
    main .info .more-info .container .picture .desktop {
        display: none;
    }
    main .info .more-info .container .text {
        margin: 0 16px 32px 16px;
    }
    main .info .more-info .container .text a {
        text-decoration: none;
        color: cornflowerblue;
        font-weight: bold;
    }
}
/* Desktop */
@media all and (min-width: 813px) {
    main .info {
        width: 100%;
        margin: 32px 0;
        display: flex;
    }
    main .info .quote {
        max-width: 60%;
    }
    main .info .quote .image img {
        max-width: 90%;
        margin: 0 24px;
    }
    main .info .quote .text {
        max-width: 90%;
        margin: 0 24px 0 32px;
    }
    main .info .more-info {
        display: flex;
        flex-direction: column;
    }
    main .info .more-info .container {
        border: 1px solid lightgray;
        max-width: 100%;
        padding: 16px 16px;
        display: flex;
    }
    main .info .more-info .background {
        background-color: lightgrey;
    }
    main .info .more-info .container .picture {
        max-width: 35%;
        height: auto;
    }
    main .info .more-info .container .picture .desktop {
        max-width: 100%;
    }
    main .info .more-info .container .picture .mobile {
        display: none;
    }
    main .info .more-info .container .text {
        max-width: 65%;
        padding: 0 15px 0 20px;
    }
    main .info .more-info .container .text a {
        text-decoration: none;
        color: cornflowerblue;
        font-weight: bold;
    }
}

/* Start Learning Section */
/* Mobile */
@media all and (min-width: 0px) and (max-width: 812px) {
    main .start-learning {
        padding: 32px 0 32px 0;
        border-bottom: 1px solid lightgray;
    }
    main .start-learning .title {
        text-align: center;
    }
    main .start-learning .mobile div {
        background-color: lightgray;
        padding: 16px 16px 16px 16px;
        margin-bottom: 8px;
    }
    main .start-learning .cat-container {
        display: none;
    }
}
/* Desktop */
@media all and (min-width: 813px) {
    main .start-learning {
        background-color: lightgrey;
        padding: 32px 32px 32px 32px;
    }
    main .start-learning .title {
        text-align: center;
        padding-bottom: 32px;
    }
    main .start-learning .mobile {
        display: none;
    }
    main .start-learning .cat-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    main .start-learning .cat-container .cat {
        background-color: white;
        margin: 0 16px 32px 16px;
        max-width: 30%;
    }
    main .start-learning .cat-container .cat .text {
        padding: 16px;
    }
    main .start-learning .cat-container .cat .image img {
        max-width: 100%;
    }
}

/* EXHIBIT Section */
/* Mobile */
@media all and (min-width: 0px) and (max-width: 812px) {
    main .thesis {
        margin-top: 32px;
        margin-bottom: 40px;
    }
    main .thesis .title {
        text-align: center;
    }
    main .thesis .content .video-container .video video {
        max-width: 100%;
    }
    main .thesis .content .cat-container,
    main .thesis .content .video-container .text {
        display: none;
    }
}
/* Desktop */
@media all and (min-width: 813px) {
    main .thesis {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    main .thesis .title {
        text-align: center;
        margin-bottom: 32px;
    }
    main .thesis .content {
        display: flex;
    }
    main .thesis .content .video-container {
        width: 60%;
        padding-left: 24px;
    }
    main .thesis .content .video-container .video video {
        max-width: 90%;
    }
    main .thesis .content .video-container .text {
        max-width: 90%;
    }
    main .thesis .content .cat-container {
        width: 40%;
    }
    main .thesis .content .cat-container .container {
        display: flex;
    }
    main .thesis .content .cat-container .background {
        background-color: lightgrey;
    }
    main .thesis .content .cat-container .container .image {
        width: 35%;
        padding: 16px;
    }
    main .thesis .content .cat-container .container .image img {
        max-width: 90%;
    }
    main .thesis .content .cat-container .container .text {
        width: 65%;
        margin: auto 0;
    }
}

/* FOOTER Section */
/* Mobile */
@media all and (min-width: 0px) and (max-width: 812px) {
    footer {
        text-align: center;
        border-top: 1px solid lightgray;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    footer .footer-links {
        display: none;
    }
}
/* Desktop */
@media all and (min-width: 813px) {
    footer {
        border-top: 1px solid lightgray;
        padding-top: 16px;
        margin: 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    footer .footer-links ul li {
        padding-left: 16px;
        display: inline-block;
    }
    footer .footer-links ul li a {
        text-decoration: none;
        color: darkslategray;
    }
}